.header{
    height: 60vh;
}
.headerPattern{
    position: absolute;
    width: 231px;
    height: 229px;
    left: 51px;
    top: 230px;
}
.headerText{
    margin-left: 8%;
    margin-top: 150px;
}
.headerImage{
    position: absolute;
    left: 720px;
    top: 170px;
}
.headerButton{
    width: 154px;
    margin-top: 40px;
    margin-left: 8%;
    border-radius: 10px;
    background-color: #4F4188;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    padding: 10px 0px;
    transition: 0.4s all ease;
    border: 1px solid #4F4188;
    cursor: pointer;
}
.headerButton:hover{
    background-color: white;
    color: black;
    border: 1px solid rgba(6, 77, 179, 0.5);
    box-sizing: border-box;
}