.header{
    width: 100%;
    height: 60vh;
}
.headerPattern{
    position: absolute;
    width: 231px;
    height: 229px;
    left: 51px;
    top: 230px;
}
.headerText{
    margin-left: 8%;
    margin-top: 150px;
}
.headerImage{
    position: absolute;
    left: 720px;
    top: 170px;
}
.about{
    display: none;
}
.headerButton{
    width: 154px;
    margin-top: 40px;
    margin-left: 8%;
    border-radius: 5px;
    background-color: #4F4188;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    padding: 10px 0px;
    transition: 0.4s all ease;
    border: 1px solid #4F4188;
    cursor: pointer;
}
.headerButton:hover{
    background-color: white;
    color: black;
    border: 1px solid rgba(6, 77, 179, 0.5);
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .header{
        height: 400px;
    }
    .headerImage{
        display: none;
    }
    .headerPattern{
        height: 185px;
        width: 187px;
        left: 10px;
        top: 77px;
    }
    .headerText{
        width: 220px;
        margin-left: 25px;
        margin-top: 10px;
    }
    .about{
        display: block;
        width: 267px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: justified;
        padding: 0px 20px ;
    }
    .headerButton{
        width: 154px;
        padding: 7px 0px;
        margin-left: 20px;
        margin-top: 20px;
    }
}