.cardContainer{
    width: 400px;
    height : 354px;
    box-shadow: 2px 0px 10px 9px rgba(0, 0, 0, 0.04);
    border-radius: 48px;
    overflow: hidden;
    transition: all 0.5s;
    animation: ease-in-out;
    background-color: #fff;
}
.cardContainer:hover{
    box-shadow: 2px 0px 10px 9px rgba(0, 0, 0, 0.08);
    transform: scale(1.05);
}
.cardContent{
    margin-left: 37px;
    margin-right: 23px;
}
.imageContainer{
    overflow: hidden;
    margin-top: 40px;
}
.titleContainer{
    font-weight: 600;
    color: #4F4188;
    padding-top: 8px;
    padding-bottom: 8px;
}
.descriptionContainer{
    color: #605D5D;
    font-weight: 500;
    font-size: 18px;    
}