.footer{
    padding: 71px 98px 40px 98px;
    /* width: 100%; */
    background-color: #3d0761;
}
.sectionOne{
    display: flex;
    flex-direction: row;
}
.title{
    height: 90px;
    width: 940px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    color: #D2D2D7;
    border-right: 1px solid white;
}

/* Section Two */
.sectionTwo{
    display: flex;
    margin-top: 80px;
    flex-direction: row;
    padding-bottom: 50px;
    border-bottom: 0.5px solid #D2D2D7;
    justify-content: space-between;
}
.subTitle{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.Text{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    color:#D2D2D7;
    text-align: left;
}
.button{
    width: 172px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: #FFF;
    color: #4F4188;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    padding: 7px 0px;
    transition: 0.4s all ease;
    border: 1px solid #4F4188;
    cursor: pointer;
}
.button:hover{
    background-color: #4F4188;
    border: 1px solid #FFF;
    color: #FFF;
    box-sizing: border-box;
}
/* Section Three */
.sectionThree{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.copyright{
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: white!important;
}
@media (max-width: 600px) {
    .footer{
        width: 100vw;

    padding: 36px 50px;
    }
    .sectionOne{
        display: flex;
        flex-direction: column;
    }
    .title{
        height: 90px;
        width: 100%;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        border-right: none;
    }
    /* Section Two */
    .sectionTwo{
        display: flex;
        margin-top: 0px;
        flex-direction: column;
        justify-content: space-around;
        justify-content: center;
        align-items: center;
    }
    .address{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .subTitle{
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .Text{
        text-align: center;
    }
    /* Section Three */
    .sectionThree{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .copyright{
        margin-bottom: 20px;
    }
}