.whywe{
    background: #91DBF61F;
    display: flex;
    flex-direction: row;
    padding: 80px 98px;
    overflow: hidden;
}
.whywePattern{
    position: absolute;
    width: 231px;
    height: 229px;
    left: 35px;
    top: 704px;
}
.whyweTitle{
    width: 249px;
    height: 180px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #4F4188;
}

.whyweAbout{
    width: 359px;
    height: 180px;
    font-style: normal;    
    font-size: 24px;
    line-height: 36px;
    text-align: justify;
    font-weight: 400;
}
.whyweTextSection{
    width: 40%;
}
@media (max-width: 600px) {
    .whywe{
        background: #91DBF61F;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 40px 0px;
    }
    .whywePattern{
        width: 191px;
        height: 185px;
        left: 14px;
        top: 530px;
        z-index: -1;
    }
    .whyweTitle{
        height: 90px;
        width: 280px;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: 0em;
        text-align: center;
        color: #4F4188;
    }
    .whyweAbout{
        width: 267px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: justified;
        padding: 0px 20px ;
    }
    .whyweSlimCardSection{
        width: 100%;
        margin-left: 15%;
    }
}
