.whywe{
    background: #91DBF61F;
    display: flex;
    flex-direction: row;
    padding: 80px 98px;
}
.whywePattern{
    position: absolute;
    width: 231px;
    height: 229px;
    left: 35px;
    top: 774px;
}
.whyweTitle{
    width: 249px;
    height: 180px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #4F4188;
}

.whyweAbout{
    width: 359px;
    height: 180px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: justify;
}
.whyweTextSection{
    width: 35%;
}

