@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;   
    
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

@layer base{
    body{
        font-family: '', sans-serif;
    }
}
.signUpHeader,
.loginHeader{
    background-image: linear-gradient(rgba(0,0,0,0.4) , rgba(0,0,0,0.4)) ,url("/img/diwali.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    width:100vw;
    position: absolute;
}
.PhoneInputInput{
    padding:10px;
    
}

@media (min-width: 600px){
    .signUpHeader,
    .loginHeader{
        background-size: contain;
        background-repeat: repeat;
    }
}

    



